form#newsletter-form {
    background-color: rgb(100, 160, 100);
    font-size: 16px;
    color: #fff;
    padding: 30px;
    width: 50%;
}

#errors {
    color:red;
    padding-left: 20px;
}

input, label {
    display: inline-block;
}

input[type='text'], input[type='email'] {
    height: 20px;
    width: 100%;
}
label {
    margin-top: 10px;
}
button[type = 'submit'] {
    background-color: rgb(208, 164, 83);
    color: #fff;
    border: 0;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}
button[type = 'submit']:hover {
    background-color: rgb(113, 79, 15);
}